* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    padding: 20px;
    position: fixed;
    z-index: 100;

}

header a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Lato", sans-serif;

}

header a:hover {
    color: #eb5b25;
    transition: 0.5s;
    cursor: pointer;
}

#bar {
    display: flex;
    width: 100%;
}

#menu {
    display: none;
}


.bar-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 33.3%;
    gap: 40px;
}

nav {
    display: flex;
    gap: 40px;
}

nav a {
    font-family: FFDINforPuma, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}

.bar-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
}

.bar-middle form {
    display: flex;
    align-items: center;
    gap: 5px;
}

.bar-middle input {
    height: 2.5vh;
}

.bar-middle i {
    color: #ffffff;
}

.bar-middle i:hover {
    color: #eb5b25;
    transition: 0.5s;
    cursor: pointer;
}

.bar-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 33.3%;
}

.bar-right i {
    color: #ffffff;
}

.bar-right i:hover {
    color: #eb5b25;
    transition: 0.5s;
    cursor: pointer;
}

#contact-me {
    padding-top:200px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-me p {
    padding-bottom: 10px;
}

.container_button {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.center {
    display: flex;
    justify-content: center;
}

.button {
    width: 40%;
}

form input {
    padding: 10px;
}

.container_name_email {
    padding-bottom: 10px;
}




footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #000;
    padding-bottom: 20px;
}

#social-media {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    gap: 20px;
}

#social-media a {
    color: #969696;
}

.facebook:hover {
    background-color: #0866FF;
    transform: scale(1.8);
    transition: 0.3s;
    border-radius: 15%;

}

.twitter:hover {
    background-color: #000000;
    transform: scale(1.8);
    transition: 0.3s;
    border-radius: 15%;
}

.instagram:hover {
    background-color: #FF0069;
    transform: scale(1.8);
    transition: 0.3s;
    border-radius: 15%;
}

.youtube:hover {
    background-color: #FF0000;
    transform: scale(1.8);
    transition: 0.3s;
    border-radius: 15%;
}

.footer-main {
    display: flex;
    justify-content: space-around;
}

.information-footer {
    padding-top: 20px;
}

.information-footer ul {
    display: flex;
    gap: 20px;
}

.information-footer li {
    list-style-type: none;
    font-family: FFDINforPuma, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    padding-top: 10px;
}

.information-footer li a {
    color: #969696;
    text-decoration: none;
    font-size: 16px;
}

.information-footer li a:hover {
    color: #eb5b25;
    transition: 0.5s;
    cursor: pointer;
}

.copy {
    font-family: FFDINforPuma, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    padding-top: 40px;
    color: #969696;
    display: flex;
    justify-content: center;
}

.lower {

    font-size: 13px;
}

@media (max-width: 1520px) {

    .bar-left {
        gap: 20px;
    }

    #menu {
        display: block;
    }

    #lifestyle, #offers, #sports   {
        display: none;
    }


}


@media (max-width: 1024px) {


    #search,#search-icon{
        display: none;
    }

    .product {
        grid-template-columns: 4fr 4fr 4fr;

    }


}

@media (max-width: 768px) {
    
    .bar-right {
        justify-content: center;
        gap: 8px;
    }
    .product {
        grid-template-columns: 6fr 6fr;
    }

    #contact, #who {
        display: none;
    }

    .product {
        gap: 15px;
        padding: 25px;
    }

    .information-footer li a {
        font-size: 13px;
    }

    .copy {
        font-size: 13px;
    }


}

@media (max-width: 480px) {



    #search, #search-icon {
        display: none;
    }

        .product {
        grid-template-columns: 12fr;
    }

    .bar-left {
        width: 50%;
    }

    .bar-middle {
        width: 50%;
    }

    .bar-right i {
        display: none;
    }

        .information-footer li a {
        font-size: 11px;
    }
    .copy {
        font-size: 10px;
    }
    
    .lower {
        font-size: 8px;
    }
}